name: Deploy Firebase Functions

on:
  push:
    branches:
      - main # Or 'master', depending on your default branch
    paths:
      - 'functions/**' # Only trigger if changes happen in the functions folder

jobs:
  deploy_functions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # Match the version in your functions/package.json engines

      - name: Install Dependencies
        run: npm ci
        working-directory: ./functions

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@v15.2.1
        with:
          args: deploy --only functions
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
